body {
  background-color: #1D2951;
  text-align: center;
}

#primeiro_menu {
  margin: 20px;


}

article {
  background-color: white;
  padding: 10px 50px 30px 50px;
  margin: 20px;
}
